{% extends "Public/Standard.html.twig" %}

{% block content %}
    <style>
        .static-page {
            margin-right: auto;
            margin-left: auto;
            max-width: 800px;
            font-size: 14px;
        }
    </style>

    <div class="static-page">
        <h2>Imprint</h2>
    </div>
{% endblock %}
